@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: 'Muli', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
}

.container {
    display: flex;
    width: 90vw;
}

.panel {
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 80vh;
    border-radius: 50px;
    color: #fff;
    cursor: pointer;
    flex: 0.1;
    margin: 10px;
    filter:brightness(60%) grayscale(100%);
    
    
    transition:700ms ease-in;
}

.panel h3 {
    font-size: 7vh;
    bottom: 20px;
    left: 20px;
    margin: 0;
    opacity: 1;
    writing-mode: vertical-rl;
    color:rgb(255, 255, 255)
    
}

.active {
    flex: 5;
    filter:none;
    
    
}

.active h3 {
   opacity: 0;
    transition:0.3s ease-in 0.4s;
}